<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= userDetails.username %>'s Collection</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="web-page-content">
    <h1><%= userDetails.username %>'s Collection</h1>
    <ul>
      <% userCollection.forEach((car) => { %>
        <li><a href="/collections/<%=userDetails._id%>/<%= car._id %>"><%= car.year %> <%= car.brand %> <%= car.model %></a></li>
      <% }) %>
    </ul>
  </div>
</body>
</html>