<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Cars</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('../partials/navbar.ejs') %>
  <% if (!user) { %>
    <p>Please sign in to add cars to your collection.</p>
  <% } else { %>
    <h1>All Cars</h1>
    <% if (cars.length === 0) { %>
      <p>No cars available.</p>
    <% } else { %>
      <ul>
        <% cars.forEach(car => { %>
          <li>
            <h2><%= car.name %></h2>
            <p>Model: <%= car.model %></p>
            <p>Year: <%= car.year %></p>
            <p>Price: $<%= car.price %></p>
            <form action="/collections/add" method="POST">
              <input type="hidden" name="userId" value="<%= user._id %>">
              <input type="hidden" name="carId" value="<%= car._id %>">
              <button type="submit">Add to Collection</button>
            </form>
          </li>
        <% }); %>
      </ul>
    <% } %>
  <% } %>
  
</body>
</html>